In [ ]:
import pandas as pd


data = pd.read_csv("/content/drive/My Drive/3D Printer.csv")

data.head()

   layer_height  wall_thickness  ...  tension_strenght elongation
0          0.02               8  ...                18        1.2
1          0.02               7  ...                16        1.4
2          0.02               1  ...                 8        0.8
3          0.02               4  ...                10        0.5
4          0.02               6  ...                 5        0.7

[5 rows x 12 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   layer_height        50 non-null     float64
 1   wall_thickness      50 non-null     int64
 2   infill_density      50 non-null     int64
 3   infill_pattern      50 non-null     object
 4   nozzle_temperature  50 non-null     int64
 5   bed_temperature     50 non-null     int64
 6   print_speed         50 non-null     int64
 7   material            50 non-null     object
 8   fan_speed           50 non-null     int64
 9   roughness           50 non-null     int64
 10  tension_strenght    50 non-null     int64
 11  elongation          50 non-null     float64
dtypes: float64(2), int64(8), object(2)
memory usage: 4.8+ KB

In [ ]:
data.infill_pattern = [0 if each =="grid" else 1 for each in data.infill_pattern]
data.material = [0 if each =="abs" else 1 for each in data.material]
data.head()

   layer_height  wall_thickness  ...  tension_strenght  elongation
0          0.02               8  ...                18         1.2
1          0.02               7  ...                16         1.4
2          0.02               1  ...                 8         0.8
3          0.02               4  ...                10         0.5
4          0.02               6  ...                 5         0.7

[5 rows x 12 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   layer_height        50 non-null     float64
 1   wall_thickness      50 non-null     int64
 2   infill_density      50 non-null     int64
 3   infill_pattern      50 non-null     int64
 4   nozzle_temperature  50 non-null     int64
 5   bed_temperature     50 non-null     int64
 6   print_speed         50 non-null     int64
 7   material            50 non-null     int64
 8   fan_speed           50 non-null     int64
 9   roughness           50 non-null     int64
 10  tension_strenght    50 non-null     int64
 11  elongation          50 non-null     float64
dtypes: float64(2), int64(10)
memory usage: 4.8 KB

In [ ]:
#converting the fractions into percentages
data.layer_height = data.layer_height * 100
data.elongation = data.elongation * 100

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   layer_height        50 non-null     float64
 1   wall_thickness      50 non-null     int64
 2   infill_density      50 non-null     int64
 3   infill_pattern      50 non-null     int64
 4   nozzle_temperature  50 non-null     int64
 5   bed_temperature     50 non-null     int64
 6   print_speed         50 non-null     int64
 7   material            50 non-null     int64
 8   fan_speed           50 non-null     int64
 9   roughness           50 non-null     int64
 10  tension_strenght    50 non-null     int64
 11  elongation          50 non-null     float64
dtypes: float64(2), int64(10)
memory usage: 4.8 KB

In [ ]:
data.head()

   layer_height  wall_thickness  ...  tension_strenght  elongation
0           2.0               8  ...                18       120.0
1           2.0               7  ...                16       140.0
2           2.0               1  ...                 8        80.0
3           2.0               4  ...                10        50.0
4           2.0               6  ...                 5        70.0

[5 rows x 12 columns]

#Material Detection

In [ ]:
x = data.drop(["material"], axis = 1) #remove materials column from dataset
y = data.material.values #giving y all the values of materials

In [ ]:
#normalization and feature scaling
x_norm = (x-x.mean())/(x.std()) 
#x_norm = (x - avg_val_of_each_column) / (std_dev_of_each_column)

In [ ]:
#Spliting data into three: train, cross validate, test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size=0.2, random_state=1) 
    # 20% data -> x_test

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.25, random_state=1) 
# 0.25 x 0.8 = 0.2 -> 20% -> x_val

# x_train -> 60%, x_val -> 20%, x_test -> 20%

In [ ]:
#Linear Regression
from sklearn.linear_model import LinearRegression

logreg = LinearRegression().fit(x_train, y_train)

#checking how much does model created using x_train fits the respective y_train values
#not that significant
logreg.score(x_train, y_train)

0.9847554084743745

In [ ]:
#predicted value of y using values of x_val
y_pred = logreg.predict(x_val)

#comparing the y_pred with the real labels
#y_pred is created automatically by .score() using x_val

logreg.score(x_val, y_val)

0.9360610567308713

In [ ]:
test_logreg = LinearRegression().fit(x_test, y_test)
logreg.score(x_test, y_test)

0.9439576262399312

#Temprature Prediction

In [ ]:
x = data.drop(["nozzle_temperature"], axis = 1) #remove materials column from dataset
y = data.material.values #giving y all the values of materials

In [ ]:
#normalization and feature scaling
x_norm = (x-x.mean())/(x.std()) 
#x_norm = (x - avg_val_of_each_column) / (std_dev_of_each_column)

In [ ]:
#Spliting data into three: train, cross validate, test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_norm, y, test_size=0.2, random_state=1) 
    # 20% data -> x_test

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.25, random_state=1) 
# 0.25 x 0.8 = 0.2 -> 20% -> x_val

# x_train -> 60%, x_val -> 20%, x_test -> 20%

In [ ]:
#predicted value of y using values of x_val
y_pred = logreg.predict(x_val)

#comparing the y_pred with the real labels
#y_pred is created automatically by .score() using x_val

logreg.score(x_val, y_val)

-1.6037533724548974

In [ ]:
print(data)

    layer_height  wall_thickness  ...  tension_strenght  elongation
0            2.0               8  ...                18       120.0
1            2.0               7  ...                16       140.0
2            2.0               1  ...                 8        80.0
3            2.0               4  ...                10        50.0
4            2.0               6  ...                 5        70.0
5            2.0              10  ...                24       110.0
6            2.0               5  ...                12       130.0
7            2.0              10  ...                14       150.0
8            2.0               9  ...                27       140.0
9            2.0               8  ...                25       170.0
10           6.0               6  ...                37       240.0
11           6.0               2  ...                12       140.0
12           6.0              10  ...                16       130.0
13           6.0               6  ...                 9        80.0
14           6.0               3  ...                10       100.0
15           6.0              10  ...                27       220.0
16           6.0               3  ...                23       190.0
17           6.0               8  ...                26       160.0
18           6.0               5  ...                33       210.0
19           6.0              10  ...                29       200.0
20          10.0               1  ...                16       120.0
21          10.0               2  ...                12       110.0
22          10.0               1  ...                10        90.0
23          10.0               9  ...                19        80.0
24          10.0               2  ...                 8        40.0
25          10.0               1  ...                11       160.0
26          10.0               4  ...                12       120.0
27          10.0               3  ...                18       180.0
28          10.0               4  ...                34       290.0
29          10.0               1  ...                14       150.0
30          15.0               4  ...                27       240.0
31          15.0               7  ...                19       180.0
32          15.0               6  ...                18       140.0
33          15.0               1  ...                 9        60.0
34          15.0               7  ...                13        70.0
35          15.0               3  ...                33       280.0
36          15.0               4  ...                24       180.0
37          15.0              10  ...                26       210.0
38          15.0               6  ...                22       230.0
39          15.0               1  ...                 4        70.0
40          20.0               4  ...                35       330.0
41          20.0               9  ...                34       310.0
42          20.0               7  ...                28       220.0
43          20.0               6  ...                28       160.0
44          20.0               3  ...                21       110.0
45          20.0               5  ...                28       270.0
46          20.0               4  ...                14       180.0
47          20.0               5  ...                30       320.0
48          20.0               7  ...                29       320.0
49          20.0               3  ...                27       310.0

[50 rows x 12 columns]